/* Add your css code here */
/* Colors:
* Olive: 6B8E23
* Black
* White
* Light grey: 8b8d8c
* Dark grey: #3a3a3a
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
html, body {
    min-height: 100%;
    overflow-wrap: break-word;
}

p {
  line-height: 2.2;
  opacity:.95;
  /* font-size:16px; */
}

table.w3-table-all.cols-5 a, table.w3-table-all.cols-5 a:hover {
  color: #6B8E23;
}

h1 {
  padding:0px;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:lighter;
}

p.lead {
  font-weight: 100;
  text-align: center;
  font-size: 32px;
  padding: 0px;
  margin: 0px;
  line-height: 1.1;
  /* color: #6B8E23; */
}

.w3-section.field.field--name-field-categories.field--type-entity-reference.field--label-hidden.field__items,
.w3-section.field.field--name-field-brand.field--type-entity-reference.field--label-hidden.w3-bar-item.field__item {
    border: 2px solid #000000;
    background-color: #FFFFFF;
    font-weight: bold;
    width: fit-content;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    float: left;
    text-transform: uppercase;
    margin-right: 20px;
}

.w3-section.field.field--name-field-categories.field--type-entity-reference.field--label-hidden.field__items:hover,
.w3-section.field.field--name-field-brand.field--type-entity-reference.field--label-hidden.w3-bar-item.field__item:hover {
  background-color: #000000;
  color: #FFFFFF;
}

/* Product Names */
.w3-panel.views-row.clearfix.row-1 .w3-section.field.field--name-title.field--type-string.field--label-hidden.w3-bar-item.field__item,
.w3-panel.views-row.clearfix.row-2 .w3-section.field.field--name-title.field--type-string.field--label-hidden.w3-bar-item.field__item,
.w3-panel.views-row.clearfix.row-3 .w3-section.field.field--name-title.field--type-string.field--label-hidden.w3-bar-item.field__item {
    font-size: 20px;
    line-height: 1;
    text-transform: capitalize;
    color: #6B8E23;
    font-weight: 100;
}

/**************
* Font Family *
***************/

/* Lato Font */
h1, h2, h3, h4, h5, h6, p.lead,
ul.ul-parent.ul-parent-catalog.ul-0,
.copyright-inner, .copyright {
  font-family: 'Lato', sans-serif;
}

/* Montserrat font */
html, body, p,
ul.ul-parent.ul-parent-main.ul-0,
ul.ul-parent.ul-parent-account.ul-0,
ul.w3-ul.w3-small.breadcrumb.ul-0 {
  font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.w3-padding {
    padding: 8px 16px 8px 0px!important;
}

.w3-padding-24 {
  padding: 5px!important;
  margin-bottom:0px;
}

.inline {
  display: inline;
  float:left;
  margin-left:15px;
}

.uppercase {
  text-transform: uppercase;
}

/* Mobile Font Settings */
@media only screen and (max-width: 600px) {
  .w3-section.field.field--name-body.field--type-text-with-summary.field--label-hidden.w3-bar-item.field__item p {
    font-size:24px;
  }

  .site-name, .site-slogan {
    margin:10px!important;
  }
}

/*****************
* MENU AND HEADER  *
*****************/

#header {
  background-color: #bebebe !important;
}

/* Menu */
.main-navigation-wrapper {
  background-color: #313131;
}

nav#block-drupal8-w3css-subtheme-main-menu {
  width:auto;
  float:left;
}

ul.ul-parent.ul-parent-account.ul-0 {
  margin: 0 50px 0 50px;
}

/* Catalog Menu */
ul.ul-parent.ul-parent-catalog.ul-0 {
  text-transform: uppercase;
  float:left;
  font-weight:300;
  margin-left:15px;
  font-weight:lighter;
}

/* banner area*/
.bannertext {
  font-size:32px;
  float:right;
  text-align:right;
  vertical-align:top;
  padding-right:25px;
}
.site-slogan {
  padding-left: 0px;
}

/* Mobile Menu */
#open-nav-inner {
  display:none;
}

/* Cart button */
.cart-block--summary, .cart-block--summary__icon img, .cart-block--summary__count {
  vertical-align: bottom;
  width:auto;
  text-align:left;
}

section#block-cart {
  width: auto;
  float: right;
}

/* Mobile Menu and Header Settings */
@media only screen and (max-width: 600px) {

  #open-nav-inner {
    display:none;
  }

  nav#block-drupal8-w3css-subtheme-main-menu, nav#block-drupal8-w3css-subtheme-account-menu {
    display:none;
  }

  section#block-cart {
    width: auto;
    float: right;
    margin-right:10px;
  }

  .cart--cart-block {
    margin-top:12px;
  }
}

/*******
* Tabs *
*******/

ul.primary {
    border-bottom: 0px;
    font-size: 14px;
    opacity: .8;
}

ul.primary > li {
    border-right: 1px solid #bebebe!important;
    float: left;
}

/***********************************
* Middle Sections and Main Section *
***********************************/

#main-container {
  min-height: -webkit-fill-available;
}

/* Title section/image banner */
div#page-title-inner {

}

.w3-section.js-form-item.form-item.js-form-type-item.form-type-item.js-form-item-.form-item-.form-no-label {
  margin: 0px 15px;
}

ul.breadcrumb {
  padding: 5px 35px;
  list-style: none;
}

nav.w3-block.w3-section.breadcrumb {
    margin: 5px 0px !important;
}

img.w3-image.image-style-header-image {
  margin-bottom: 25px;
}

/* Help and Messages */

.messages {
    padding: 15px 35px;
}

.messages--status {
    color: #325e1c;
    background-color: #f3faef;
    border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
    box-shadow: -8px 0 0 #77b259;
    margin-top:10px;
}

/********
* Forms *
********/
.w3-input {
    padding: 10px;
    font-size: 18px;
    color: #333333;
  }

.w3-select {
  width: fit-content;
}

label.js-form-required.form-required {
  margin-right: 5px;
}

/* Form asterisk */
.form-required:after {
    content: "\f069"!important;
    font-family: FontAwesome;
    font-size:10px;
    color: #b21111;
    vertical-align: 0;
    display: inline-block!important;
    background-size: 10px 10px;
    width: 5px;
    height: 5px;
    margin: 0 0.3em;
}

/******************************************
* Product pages and images, commerce stuff
******************************************/
.logo {
  padding: 0 50px;
  float: left;
}

.header {
  border: 1px solid black;
}

/*****************
* Footer Section *
*****************/

.copyright-inner, .copyright {
  font-size: 13px;
  font-weight: 100;
  text-align:center;
  width:auto;
}

/*****************
* Parallax Stuff *
*****************/

/* general */

.main-container {
  padding: 0px;
}
.page-header {
  padding-bottom: 0px;
}

/* normal sections */

.block-block-contentcc6855a2-1093-487a-8773-6b48361ceb1e {
  text-align: center;
  padding: 10em;
  font-size: 20px;
  background-color: #3a3a3a;
  color: #fff;
  height: 400px;
}

/* parallax sections */

.parallax {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 400px;
}

.parallax__bg {
  position: absolute;
  width: 100%;
  height: 140%;
  background-repeat: no-repeat;
  background-size:cover;
  background-blend-mode: lighten;
  background-position: bottom;
}

.parallax--parallax01 .parallax__bg {
  background: url('/sites/default/files/parallax/parallax01.jpg');
}

.parallax--parallax02 .parallax__bg  {
  background: url('/sites/default/files/parallax/parallax02.jpg');
}

.parallax__content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  padding: 100px;
  h2 {
    margin: 0px;
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
}
