<div class="parallax parallax--{{ elements['#id'] }}"> <!-- 1 -->
    <div class="parallax__bg"></div> <!-- 2 -->
    <div class="parallax__content"> <!-- 3 -->
        <h2{{ title_attributes }}>{{ label }}</h2>
        {{ content['body']['0']['#text'] | raw}}
    </div>
</div>
